
@{
    ViewData["Title"] = "Home Page";
    Layout = "NewFolder/_Layoutt";
}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">İstanbul Emlak</h5>
        <p class="card-text">Title</p>
        <p class="card-text">LocationName</p>
        <p class="card-text">.Price</p>
        <p class="card-text">RoomNumber</p>
        <p class="card-text">Square</p>
        <p class="card-text">Statu</p>

     
      </div>
    </div>
  </div>
</div>