@{
    ViewData["Title"] = "Home Page";
    Layout = "NewFolder/_Layoutt";
}



        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
            @foreach (HouseViewModel item in @ViewBag.ev)
            {
                  <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/Home/Detail" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Detaya Git</h3>
               
              </div>
              <img class="img-fluid" src="/Resimler/@item.Image" style="width:419px;height:419px;">
            </a>
          </div>
            }
        
        </div>