 <div class="left side-menu">
              <div class="user-details">
                  <div class="pull-left">
                      <img src="~/adminn/assets/images/users/avatar-1.jpg" alt="" class="thumb-md rounded-circle">
                  </div>
                  <div class="user-info">
                      <a href="#">Stanley Jones</a>
                      <p class="text-muted m-0">Administrator</p>
                  </div>
              </div>

              <!--- Sidemenu -->

              <div id="sidebar-menu">
                  <!-- Left Menu Start -->
                  <ul class="metismenu" id="side-menu">
                      <li class="menu-title">Navigation</li>
                      <li>
                          <a href="/Admin/Index">
                              <i class="ti-home"></i><span> Tümü </span>
                          </a>
                      </li>

                     

                      <li>
                          <a href="javascript: void(0);"><i class="ti-light-bulb"></i> <span> Seçenekler </span> <span class="menu-arrow"></span></a>
                          <ul class="nav-second-level" aria-expanded="false">
                              <li><a href="/Admin/ForSelling">Satılık</a></li>
                              <li><a href="/Admin/ForRenting">Kiralık</a></li>
                             
                          </ul>
                      </li>

                     

                  </ul>

              </div>
              <!-- Sidebar -->
              <div class="clearfix"></div>

          </div>